{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-12">
    <div class="jumbotron">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">  My name is {{name}}</p>
      <a class="btn btn-primary btn-lg" href="/login">Login</a>
    </div>
  </div>
</div>
{% endblock %}
