{% extends "layout.html" %}
{% block body %}
{% if error %}
<h1>Invalid password, try again</h1>
{% endif %}
<form action="/login" method="post">
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
